<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <JDBC name="DatabaseAppender" tableName="app_logs">
            <ConnectionFactory class="com.example.doanltweb.utils.JDBILogConnection" />
            <Column name="event_date" isEventTimestamp="true"/>
            <Column name="level" pattern="%level"/>
            <Column name="logger" pattern="%logger"/>
            <Column name="message" pattern="%message"/>
            <Column name="ip_address" pattern="%X{ip}"/>
            <Column name="username" pattern="%X{username}"/>
            <Column name="thread" pattern="%thread"/>
        </JDBC>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="DatabaseAppender"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
